<section class="infoblock infoblock_aside infoblock_articles">
    <h3 class="infoblock__main-title">
        Публикации Наших врачей
    </h3>
    <div class="infoblock__aside">
        <article class="infoblock__item">
            <a class="infoblock__img-link" href="#">
                <img class="infoblocks__img" src="temp/news-small-photo-home.jpg" alt=""/>
            </a>
            <div class="infoblock__descr">
                <h3 class="infoblock__title"><a href="#" class="infoblock__link">В нашем центре появилась
                    перваяв Украине
                    ультразвуковая система
                    Philips iE33 xMATRIX</a></h3>
                <a class="infoblock__more-link" href="#">Читать далее &#8594;</a>
            </div>
        </article>
        <article class="infoblock__item">
            <a class="infoblock__img-link" href="#">
                <img class="infoblocks__img" src="temp/news-small-photo-home.jpg" alt=""/>
            </a>
            <div class="infoblock__descr">
                <h3 class="infoblock__title"><a href="#" class="infoblock__link">В нашем центре появилась
                    перваяв Украине
                    ультразвуковая система
                    Philips iE33 xMATRIX</a></h3>
                <a class="infoblock__more-link" href="#">Читать далее &#8594;</a>
            </div>
        </article>
        <a class="infoblock__all-link" href="#">Все статьи</a>
    </div>
</section>