<section class="carousel">
    <h3 class="carousel__title">
        <span>Наши врачи</span>
    </h3>
    <div class="carousel__content">
        <ul class="carousel__list">
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>
            <li class="carousel__item">
                <a class="carousel__link" href="#">
                    <img class="carousel__img" src="temp/doctor.jpg" alt=""/>
                    <span class="carousel__name">
                        <span class="carousel__last-name">Пашковский</span><br>
                        Пётр Васильевич
                    </span>
                    <span class="carousel__position">
                        Уролог.<br>
                        Врач высшей категории.<br>
                        Стаж работы 16 лет.
                    </span>
                </a>
            </li>

        </ul>
    </div>
    <button class="carousel__btn carousel__btn_prev">Предыдущий слайд</button>
    <button class="carousel__btn carousel__btn_next">Следующий слайд</button>
</section>