<footer class="l-footer">
    <div class="footer-col">
        <dl class="footer-nav">
            <dt class="footer-nav__title">
                Медицинский центр EUROMED
            </dt>
            <dd class="footer-nav__item"><a class="footer-nav__link" href="#">Диагностика оргаанизма</a></dd>
            <dd class="footer-nav__item"><a class="footer-nav__link" href="#">Лечение гипертонии</a></dd>
            <dd class="footer-nav__item"><a class="footer-nav__link" href="#">Ультрозвуковое оюследование</a></dd>
            <dd class="footer-nav__item"><a class="footer-nav__link" href="#">Консультация педиатра</a></dd>
            <dd class="footer-nav__item"><a class="footer-nav__link" href="#">Семейный врач</a></dd>
        </dl>
        <address class="footer-map">
            г. Киев,
            ул. Ярослава Ивашкевича, 6-8А
            <a class="footer-map__link" href="#">Карта проезда</a>
        </address>
        <div class="copyright">
            © 2014 Все права защищены
        </div>
    </div>
    <div class="footer-col">
        <dl class="footer-nav">
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Гинекология</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Гастроцентр</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">урология</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">УЗИ</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Отоларингология</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Педиатрия</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Анализы</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Терапия</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Кардиология</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Эндокринология</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Дерматовенерология</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Неврология</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Другие направления</a></dd>
        </dl>
    </div>
    <div class="footer-col">
        <div class="contacts contacts_footer">
            <a class="contacts__tel contacts__tel_primary" href="tel:0800400229">0 (800) 400 22 9</a>
            <a class="contacts__tel contacts__tel_primary" href="tel:0444163312">0 (44) 416 33 12</a>
            <a class="contacts__tel contcats__tel_ks" href="tel:0672345678">0 (67) 234 56 78</a>
            <a class="contacts__tel contacts__tel_mts" href="tel:0500187129">0 (50) 018 71 29</a>
            <a class="contacts__tel contacts__tel_life" href="tel:0935233944">0 (93) 523 39 44</a>
        </div>

        <div class="schedule schedule_footer">
            <div class="schedule__row">Пн-Пт: 7:00-20:00</div>
            <div class="schedule__row">Сб: 8:00-19:00</div>
            <div class="schedule__row">Вс: 9:00-17:00</div>
        </div>

        <div class="soc">
            <a class="soc__link soc__lick_fb" href="#">Facebook</a>
            <a class="soc__link soc__lick_tw" href="#">Twitter</a>
            <a class="soc__link soc__lick_gp" href="#">Google Plus</a>
            <a class="soc__link soc__lick_yt" href="#">You tube</a>
            <a class="soc__link soc__lick_rss" href="#">RSS</a>
        </div>
    </div>
    <div class="footer-col">
        <dl class="footer-nav">
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Записаться на приём</a></dd>
            <dd class="footer-nav__item footer-nav__item_bottom-space"><a href="#" class="footer-nav__link">Консультации со скидкой</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Услуги и цены</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Врачи</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Комплексные программы</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">События и акции</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Советник здоровья</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">О клинике</a></dd>
            <dd class="footer-nav__item"><a href="#" class="footer-nav__link">Контакты</a></dd>
        </dl>
        <div class="conceptor-copyright">Сделано в Conceptor</div>
    </div>
</footer>