<header class="l-header">
    <a class="logo" href="/">
        Медицинский центр Euromed
    </a>

    <nav class="nav nav_secondary">
        <a class="nav__link" href="#">О клинике</a>
        <a class="nav__link" href="#">Услуги со скидкой</a>
        <a class="nav__link" href="#">Акции</a>
        <a class="nav__link" href="#">Новости</a>
        <a class="nav__link" href="#">Контакты</a>
    </nav>

    <div class="contacts">
        <a class="contacts__tel contacts__tel_primary" href="tel:0800400229">0 (800) 400 22 9</a>
        <a class="contacts__tel contacts__tel_primary" href="tel:0444163312">0 (44) 416 33 12</a>
        <a class="contacts__tel contcats__tel_ks" href="tel:0672345678">0 (67) 234 56 78</a>
        <a class="contacts__tel contacts__tel_mts" href="tel:0500187129">0 (50) 018 71 29</a>
        <a class="contacts__tel contacts__tel_life" href="tel:0935233944">0 (93) 523 39 44</a>

        <button class="contacts__callback" data-module-type="Callback">Перезвоните мне</button>
    </div>

    <div class="schedule">
        <div class="schedule__title">
            График работы медицинского центра
        </div>
        <div class="schedule__row">Пн-Пт: 7:00-20:00</div>
        <div class="schedule__row">Сб: 8:00-19:00</div>
        <div class="schedule__row">Вс: 9:00-17:00</div>

        <a class="schedule__appointmet-link btn btn_red btn_appointment" href="#">Записатся на прием</a>
    </div>

    <address class="map">
        <a class="contacts.html" href="map__link">
            г. Киев,<br> ул. Ярослава Ивашкевича, 6-8А
        </a>
    </address>

    <div class="search">
        <form action="search.html">
            <input class="search__input" type="text"/>
            <button class="search__btn">Поиск</button>
        </form>
    </div>

    <div class="lang">
        <a class="lang__link lang__link_active" href="#">рус</a>
        <a class="lang__link" href="#">укр</a>
    </div>
</header>