<nav class="nav nav_main">
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__lnk" href="#">Услуги и цены</a>
        </li>
        <li class="nav__item">
            <a class="nav__lnk" href="#">Врачи</a>
        </li>
        <li class="nav__item">
            <a class="nav__lnk" href="#">Анализы</a>
        </li>
        <li class="nav__item">
            <a class="nav__lnk" href="#">Комплексные программы</a>
        </li>
        <li class="nav__item">
            <a class="nav__lnk" href="#">Советник здоровья</a>
        </li>
    </ul>
</nav>