<section class="articles articles_news">
    <div class="articles__content">
        <article class="articles__item">
            <time class="articles__date date">25 января 2015</time>
            <a class="articles__img" href="#">
                <img class="articles__img-src" src="temp/article-img.jpg" alt=""/>
            </a>
            <aside class="articles__aside">
                <h2 class="articles__title">
                    <a class="articles__link" href="#">Острая респираторная вирусная инфекция. Симптомы, профилактика и эффективное лечение.</a>
                </h2>
                <div class="articles__descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <a class="articles__more-btn" href="#">Читать далее →</a>
            </aside>
        </article>
    </div>
</section>