<section class="offers">
    <article class="offers__item">
        <h2 class="offers__title">Невероятные скидки на все услуги нашего центра</h2>
        <div class="offers__img">
            <img class="offers__img-src" src="temp/sale-img.jpg" alt=""/>
        </div>
        <div class="offers__footer">
            Время действия акции: с 1 по 31 марта 2015 г.
            <button class="btn btn_white offers__btn">
                Подробнее об акции
            </button>
        </div>
    </article>
    <article class="offers__item">
        <h2 class="offers__title">Невероятные скидки на все услуги нашего центра</h2>
        <div class="offers__img">
            <img class="offers__img-src" src="temp/sale-img.jpg" alt=""/>
        </div>
        <div class="offers__footer">
            Время действия акции: с 1 по 31 марта 2015 г.
            <button class="btn btn_white offers__btn">
                Подробнее об акции
            </button>
        </div>
    </article>
    <article class="offers__item">
        <h2 class="offers__title">Невероятные скидки на все услуги нашего центра</h2>
        <div class="offers__img">
            <img class="offers__img-src" src="temp/sale-img.jpg" alt=""/>
        </div>
        <div class="offers__footer">
            Время действия акции: с 1 по 31 марта 2015 г.
            <button class="btn btn_white offers__btn">
                Подробнее об акции
            </button>
        </div>
    </article>
</section>