<section class="services">
    <article class="services__item">
        <div class="services__head">
            <a class="services__link" href="#">
                <img class="services__img" src="img/services/ginecologia-img.png" alt=""/>
                <span>Гинекология</span>
            </a>
        </div>
        <div class="services__descr">
            Раздел клинической медицины, в котором изучаются анатомо-физиологические особенности женского организма, болезни половой системы женщины, их лечение и профилактика
        </div>
        <div class="services__footer">
            Специалисты:<br/>
            <a href="#">Мамонтова О.Ю.</a><br/>
            <a href="#">Евстигнеева Е.А.</a><br/>
        </div>
    </article>
    <article class="services__item">
        <div class="services__head">
            <a class="services__link" href="#">
                <img class="services__img" src="img/services/ginecologia-img.png" alt=""/>
                <span>Гинекология</span>
            </a>
        </div>
        <div class="services__descr">
            Раздел клинической медицины, в котором изучаются анатомо-физиологические особенности женского организма, болезни половой системы женщины, их лечение и профилактика
        </div>
        <div class="services__footer">
            Специалисты:<br/>
            <a href="#">Мамонтова О.Ю.</a><br/>
            <a href="#">Евстигнеева Е.А.</a><br/>
        </div>
    </article>
    <article class="services__item">
        <div class="services__head">
            <a class="services__link" href="#">
                <img class="services__img" src="img/services/ginecologia-img.png" alt=""/>
                <span>Гинекология</span>
            </a>
        </div>
        <div class="services__descr">
            Раздел клинической медицины, в котором изучаются анатомо-физиологические особенности женского организма, болезни половой системы женщины, их лечение и профилактика
        </div>
        <div class="services__footer">
            Специалисты:<br/>
            <a href="#">Мамонтова О.Ю.</a><br/>
            <a href="#">Евстигнеева Е.А.</a><br/>
        </div>
    </article>
    <article class="services__item">
        <div class="services__head">
            <a class="services__link" href="#">
                <img class="services__img" src="img/services/ginecologia-img.png" alt=""/>
                <span>Гинекология</span>
            </a>
        </div>
        <div class="services__descr">
            Раздел клинической медицины, в котором изучаются анатомо-физиологические особенности женского организма, болезни половой системы женщины, их лечение и профилактика
        </div>
        <div class="services__footer">
            Специалисты:<br/>
            <a href="#">Мамонтова О.Ю.</a><br/>
            <a href="#">Евстигнеева Е.А.</a><br/>
        </div>
    </article>
    <article class="services__item">
        <div class="services__head">
            <a class="services__link" href="#">
                <img class="services__img" src="img/services/ginecologia-img.png" alt=""/>
                <span>Гинекология</span>
            </a>
        </div>
        <div class="services__descr">
            Раздел клинической медицины, в котором изучаются анатомо-физиологические особенности женского организма, болезни половой системы женщины, их лечение и профилактика
        </div>
        <div class="services__footer">
            Специалисты:<br/>
            <a href="#">Мамонтова О.Ю.</a><br/>
            <a href="#">Евстигнеева Е.А.</a><br/>
        </div>
    </article>
    <article class="services__item">
        <div class="services__head">
            <a class="services__link" href="#">
                <img class="services__img" src="img/services/ginecologia-img.png" alt=""/>
                <span>Гинекология</span>
            </a>
        </div>
        <div class="services__descr">
            Раздел клинической медицины, в котором изучаются анатомо-физиологические особенности женского организма, болезни половой системы женщины, их лечение и профилактика
        </div>
        <div class="services__footer">
            Специалисты:<br/>
            <a href="#">Мамонтова О.Ю.</a><br/>
            <a href="#">Евстигнеева Е.А.</a><br/>
        </div>
    </article>
</section>