<section class="large-text">
    <p>
        <strong>
            Известный детский врач, телеведущий и публицист Евгений Комаровский не подвержен политической конъюнктуре. Он не участвует в выборах, его суждения резки и неприятны не только политикам, но и избирателям. По его мнению, коррупция и беззаконие никуда не делись после Майдана. Без подавления этих зол нет смысла говорить о каких-либо реформах, включая медицинскую.
        </strong>
    </p>
    <p>
        <img src="temp/news-large-img.jpg" alt=""/>
    </p>
    <p>
        <strong>
            — Что, по-вашему, изменилось в стране за последний год?
        </strong>
    </p>
    <p>
        — Это вопрос не простой. В стране произошли большие перемены, но они коснулись не власти, а простых людей. Изменилось их отношение к будущему, к перспективам страны, к другим странам. Огромное количество людей потеряло надежду и думает только о том, как отсюда уехать. Другие поняли, что вся наша жизнь борьба, и готовы ради нее положить здоровье, силы и все остальное.
    </p>
    <p>
        <strong>
            — Что, по-вашему, изменилось в стране за последний год?
        </strong>
    </p>
    <p>
        — Это вопрос не простой. В стране произошли большие перемены, но они коснулись не власти, а простых людей. Изменилось их отношение к будущему, к перспективам страны, к другим странам. Огромное количество людей потеряло надежду и думает только о том, как отсюда уехать. Другие поняли, что вся наша жизнь борьба, и готовы ради нее положить здоровье, силы и все остальное.
    </p>
    <p>
        <strong>
            — Что, по-вашему, изменилось в стране за последний год?
        </strong>
    </p>
    <p>
        — Это вопрос не простой. В стране произошли большие перемены, но они коснулись не власти, а простых людей. Изменилось их отношение к будущему, к перспективам страны, к другим странам. Огромное количество людей потеряло надежду и думает только о том, как отсюда уехать. Другие поняли, что вся наша жизнь борьба, и готовы ради нее положить здоровье, силы и все остальное.
    </p>
    <div class="soc soc_center">
        <a class="soc__link soc__link_fb" href="#">Facebook</a>
        <a class="soc__link soc__link_tw" href="#">Twitter</a>
        <a class="soc__link soc__link_gp" href="#">Google Plus</a>
    </div>

    <div class="large-text__author">
        <div class="large-text__author-head">
            Тема статьи:<br>
            <a href="#">Терапия</a>
        </div>
        <div class="large-text__author-body">
            Автор статьи:
            <img class="large-text__author-img" src="temp/doctor-article.jpg" alt=""/>
            <div class="large-text__author-descr">
                <h4 class="large-text__author-name"><span>Тодосиенко</span> Людмила Борисовна</h4>
                Терапевт. Врач высшей категории.<br/>
                Стаж работы 19 лет.
                <a class="large-text__author-link" href="#">Подробнее →</a>
            </div>

        </div>
    </div>

    <dl class="recent">
        <dt class="recent__title">
            Другие статьи Тодосиенко Л.Б.
        </dt>
        <dd class="recent__item"><a class="recent__link" href="#">Отличие эпидемии от пандемии. Что нужно знать.</a></dd>
        <dd class="recent__item"><a class="recent__link" href="#">Чем опасен свинной грипп. Симптомы и диагностика.</a></dd>
        <dd class="recent__item"><a class="recent__link" href="#">Лихорадка Эбола. Чума XXI века родом из Африки.</a></dd>
    </dl>

    <dl class="recent">
        <dt class="recent__title">
            Другие статьи по теме <a class="recent__title-link" href="#">Терапия</a>
        </dt>
        <dd class="recent__item">
            <span class="recent__author">Смирнова Ю.В.</span>
            <a class="recent__link" href="#">ТОП 10 продуктов для поддержания иммунитета зимой.</a>
        </dd>
        <dd class="recent__item">
            <span class="recent__author">Смирнова Ю.В.</span>
            <a class="recent__link" href="#">ТОП 10 продуктов для поддержания иммунитета зимой.</a>
        </dd>
        <dd class="recent__item">
            <span class="recent__author">Смирнова Ю.В.</span>
            <a class="recent__link" href="#">ТОП 10 продуктов для поддержания иммунитета зимой.</a>
        </dd>
        <dd class="recent__item">
            <span class="recent__author">Смирнова Ю.В.</span>
            <a class="recent__link" href="#">ТОП 10 продуктов для поддержания иммунитета зимой.</a>
        </dd>
    </dl>
</section>