<section class="large-text">
    <time class="date
     large-text__date">25 января 2015</time>
    <p>
        Известный детский врач, телеведущий и публицист Евгений Комаровский не подвержен политической конъюнктуре. Он не участвует в выборах, его суждения резки и неприятны не только политикам, но и избирателям. По его мнению, коррупция и беззаконие никуда не делись после Майдана. Без подавления этих зол нет смысла говорить о каких-либо реформах, включая медицинскую.
    </p>
    <p>
        <img src="temp/news-large-img.jpg" alt=""/>
    </p>
    <p>
        <strong>
            — Что, по-вашему, изменилось в стране за последний год?
        </strong>
    </p>
    <p>
        — Это вопрос не простой. В стране произошли большие перемены, но они коснулись не власти, а простых людей. Изменилось их отношение к будущему, к перспективам страны, к другим странам. Огромное количество людей потеряло надежду и думает только о том, как отсюда уехать. Другие поняли, что вся наша жизнь борьба, и готовы ради нее положить здоровье, силы и все остальное.
    </p>
    <p>
        <strong>
            — Что, по-вашему, изменилось в стране за последний год?
        </strong>
    </p>
    <p>
        — Это вопрос не простой. В стране произошли большие перемены, но они коснулись не власти, а простых людей. Изменилось их отношение к будущему, к перспективам страны, к другим странам. Огромное количество людей потеряло надежду и думает только о том, как отсюда уехать. Другие поняли, что вся наша жизнь борьба, и готовы ради нее положить здоровье, силы и все остальное.
    </p>
    <p>
        <strong>
            — Что, по-вашему, изменилось в стране за последний год?
        </strong>
    </p>
    <p>
        — Это вопрос не простой. В стране произошли большие перемены, но они коснулись не власти, а простых людей. Изменилось их отношение к будущему, к перспективам страны, к другим странам. Огромное количество людей потеряло надежду и думает только о том, как отсюда уехать. Другие поняли, что вся наша жизнь борьба, и готовы ради нее положить здоровье, силы и все остальное.
    </p>
    <div class="soc soc_center">
        <a class="soc__link soc__link_fb" href="#">Facebook</a>
        <a class="soc__link soc__link_tw" href="#">Twitter</a>
        <a class="soc__link soc__link_gp" href="#">Google Plus</a>
    </div>
    <div class="large-text__pager">
        <div class="large-text__pager-prev">
            Предыдущая новость
            <a class="large-text__link latge-text__link_prev" href="#">В нашем центре появилась первая в Украине ультразвуковая система</a>
        </div>
        <div class="large-text__pager-next">
            Следующая новость
            <a class="large-text__link latge-text__link_next" href="#">Медицинский центр EUROMED получил награду на международном офтальмологичкском форуме</a>
        </div>
    </div>

</section>