<section class="filters">
    <div class="filters__item filters__item_active">
        <button class="filters__btn">
            Поиск врачей по фамилии
        </button>
        <div class="filters__item-content filters__item-content_alpha">
            <a class="filters__alphabet-link filters__alphabet-link_active" href="#">Все</a>
            <a class="filters__alphabet-link" href="#">А</a>
            <a class="filters__alphabet-link" href="#">Б</a>
            <a class="filters__alphabet-link" href="#">В</a>
            <a class="filters__alphabet-link" href="#">Г</a>
            <a class="filters__alphabet-link" href="#">Д</a>
            <a class="filters__alphabet-link" href="#">Е</a>
            <a class="filters__alphabet-link" href="#">Ж</a>
            <a class="filters__alphabet-link" href="#">З</a>
            <a class="filters__alphabet-link" href="#">И</a>
            <a class="filters__alphabet-link" href="#">К</a>
            <a class="filters__alphabet-link" href="#">Л</a>
            <a class="filters__alphabet-link" href="#">М</a>
            <a class="filters__alphabet-link" href="#">Н</a>
            <a class="filters__alphabet-link" href="#">О</a>
            <a class="filters__alphabet-link" href="#">П</a>
            <a class="filters__alphabet-link" href="#">Р</a>
            <a class="filters__alphabet-link" href="#">С</a>
            <a class="filters__alphabet-link" href="#">Т</a>
            <a class="filters__alphabet-link" href="#">У</a>
            <a class="filters__alphabet-link" href="#">Ф</a>
            <a class="filters__alphabet-link" href="#">Х</a>
            <a class="filters__alphabet-link" href="#">Ц</a>
            <a class="filters__alphabet-link" href="#">Ч</a>
            <a class="filters__alphabet-link" href="#">Ш</a>
            <a class="filters__alphabet-link" href="#">Щ</a>
            <a class="filters__alphabet-link" href="#">Э</a>
            <a class="filters__alphabet-link" href="#">Ю</a>
            <a class="filters__alphabet-link" href="#">Я</a>
        </div>
    </div>
    <div class="filters__item filters__item_active">
        <button class="filters__btn">
            Поиск врачей по направлению
        </button>
        <div class="filters__item-content">
            <div class="filters__col">
                <div class="filters__row">
                    @@include('../checkbox.html', {
                        "id": "ginecologia",
                        "name": "ginecologia",
                        "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
            </div>
            <div class="filters__col">
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
            </div>
            <div class="filters__col">
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
                <div class="filters__row">
                    @@include('../checkbox.html', {
                    "id": "ginecologia",
                    "name": "ginecologia",
                    "attr": ""
                    })

                    <label class="filters__label" for="ginecologia">
                        Гинекология
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>