<section class="slider">
    <div class="slider__content">
        <ul class="slider__body">
            <li class="slider__item">
                <a class="slide__link" href="#">
                    <img class="slider__img" src="temp/home-banner.jpg" alt=""/>
                </a>
            </li>
        </ul>
    </div>
    <ul class="slider__nav">
        <li class="slider__nav-btn"><span>1</span></li>
        <li class="slider__nav-btn slider__nav-btn_active"><span>2</span></li>
        <li class="slider__nav-btn"><span>3</span></li>
        <li class="slider__nav-btn"><span>4</span></li>
        <li class="slider__nav-btn"><span>5</span></li>
    </ul>
</section>