<nav class="category-nav @@class">
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
    <a class="category-nav__link" href="category.html">
        <img class="category-nav__img" src="img/category-nav/ginecologia-ico.png" alt=""/>
        Гинекология
    </a>
</nav>