<section class="newsblock">
    <article class="newsblock__main">
        <a class="newsblock__img-link" href="#">
            <img class="newsblocks__img" src="temp/news-photo-home.jpg" alt=""/>
        </a>
        <div class="newsblock__descr">
            <h3 class="newsblock__title"><a href="#" class="newsblock__link">Профилактика остеохондроза</a></h3>
            <div class="newsblock__descr-text">
                Остеохондроз набирает поражающие масштабы. Дегенеративные изменения в позвонках имеются у большинства из нас, даже у младенцев встречаются такие нарушения. Но осложнения (боль, онемение, потеря подвижности) возникают не всегда и не у каждого. К группе риска относятся те, кто имеет сидячую работу или чрезмерные физические нагрузки, лишний вес и склонность к остеохондрозу. Да, это заболевание передается и генетически. Причем, как отмечают врачи, почти в 30 процентах случаев и преимущественно по женской линии. Хотя болеют им чаще мужчины.
            </div>
            <a class="newsblock__more-link" href="#">Читать далее &#8594;</a>
        </div>
    </article>
    <div class="newsblock__old">
        <article class="newsblock__item">
            <a class="newsblock__img-link" href="#">
                <img class="newsblocks__img" src="temp/news-small-photo-home.jpg" alt=""/>
            </a>
            <div class="newsblock__descr">
                <time class="newsblock__date">25 января 2015</time>
                <h3 class="newsblock__title"><a href="#" class="newsblock__link">В нашем центре появилась
                    перваяв Украине
                    ультразвуковая система
                    Philips iE33 xMATRIX</a></h3>
                <a class="newsblock__more-link" href="#">Читать далее &#8594;</a>
            </div>
        </article>
        <article class="newsblock__item">
            <a class="newsblock__img-link" href="#">
                <img class="newsblocks__img" src="temp/news-small-photo-home.jpg" alt=""/>
            </a>
            <div class="newsblock__descr">
                <time class="newsblock__date">25 января 2015</time>
                <h3 class="newsblock__title"><a href="#" class="newsblock__link">В нашем центре появилась
                    перваяв Украине
                    ультразвуковая система
                    Philips iE33 xMATRIX</a></h3>
                <a class="newsblock__more-link" href="#">Читать далее &#8594;</a>
            </div>
        </article>
        <a class="newsblock__all-link" href="#">Все новости</a>
    </div>
</section>