.banner
    position: relative
    overflow: hidden
    width: 100%

    &__img
        position: absolute
        left: 0
        top: 0
        
    &_homepage
        border: 1px solid red
        height: 318px

        &,
        & .banner__img
            border-radius: 2px

    &_home-wide
        height: 300px
