.category-nav
    &__img
        position: absolute
        left: 0
        top: 0

    &__link
        display: block
        height: 52px
        border-bottom: 1px dotted blue
        padding-left: 66px
        position: relative
        text-decoration: none
        text-transform: uppercase
        font-size: 14px
        font-family: 'Ubuntu Medium'
        line-height: @height
        color: blue
        
        &:first-child
            border-top: 1px dotted blue

        &:hover
            text-decoration: none
