.comments
    &__title
        text-transform: uppercase
        font-weight: normal
        font-size: 20px
        line-height: 22px
        padding-bottom: 4px
        border-bottom: 1px solid medium-blue

    &__head
        padding: 55px 0 90px
        text-align: center

    &__content
        clearfix()

    &__send-comment
        width: 300px
        
    &__item
        padding-left: (100 / 710) * 118%
        position: relative
        margin-bottom: 90px

    &__body-title
        display: block
        margin-bottom: 10px

    &__body
        padding-bottom: 10px
        margin-bottom: 10px
        border-bottom: 1px solid medium-blue

    &__name
        position: absolute
        left: 0
        font-family: 'Ubuntu Medium'
        top: 0

        &_answer
            left: 33px
            top: 21px

    &__date
        display: block
        font-family: 'Ubuntu Light'
        font-size: 12px

    &__answer
        position: relative
        margin-top: 20px
        background: url('../img/comments-arrow.png') no-repeat 0 0

        &-body
            padding-left: (100 / 519) * 205%
            padding-top: 19px

        &-text
            border-bottom: 1px solid medium-blue
            padding-bottom: 10px

    &__btn
        margin-right: 15px

    &__footer
        clearfix()