.doctor-page
    margin-bottom: 90px
    font-size: 14px
    
    &__img
        float: left
        width: (100 / 710) * 348%
        margin: 0 30px 20px 0

    &__src
        width: 100%

    &__skills
        font-size: 16px
        
        
        