.doctor
    position: relative
    text-align: center

    &__link
        display: block
        color: blue

        &:hover
            text-decoration: none

    &__img
        width: 100%
        margin-bottom: 10px
        display: block
        border-bottom: 1px solid blue

    &__position,
    &__name
        display: block
        border-bottom: 1px solid blue

    &__name
        font-size: 16px
        height: 49px
        margin-bottom: 8px

    &__last-name
        font-size: 18px

    &__position
        font-size: 14px
        height: 61px
        line-height: 17px