.btn
    display: inline-block
    height: 33px
    line-height: @height
    border: 0
    text-align: center
    padding: 0
    box-sizing: content-box
    border-radius: 2px
    text-decoration: none
    font-family: 'Ubuntu'
    font-weight: normal
    font-style: 18px

    &:hover
        text-decoration: none

    &_red
        background-color: red
        color: #fff
        transition: background .3s
        
        &:hover
            background-color: rgba(red .9)

        
    &_appointment
        padding-left: 30px
        padding-right: 15px
        background-image: url('../img/appointment-ico.png')
        background-repeat: no-repeat
        background-position: 7px center
        line-height: 35px

//INPUT
.input
    display: inline-block
    box-sizing: content-box
    padding: 0
    height: 28px
    line-height: @height
    border: 1px solid light-blue
    border-radius: 2px
    text-indent: 10px
    transition: border .3s
    color: blur
    font-style: 15px
    font-family: 'Ubuntu'

    &:focus
        border-color: blue

input
    outline: none

placeholderStyles()
    color: light-blue
    font-size: 14px
    font-family: 'Ubuntu Light'

::-webkit-input-placeholder
    placeholderStyles()

:-moz-placeholder
    placeholderStyles()

::-moz-placeholder
    placeholderStyles()

:-ms-input-placeholder
    placeholderStyles()
    
//DROPDOWN
.dropdown
    height: 30px
    background-color: #ffffff
    line-height: @height
    position: relative
    color: blue
    font-family: 'Ubuntu'


    &_disabled
        opacity: .4

    &:after,
    &__value,
    &__selectbox
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: block

    &__value
        z-index: 1

    &__selectbox
        z-index: 2
        opacity: 0


    &:after
        content: ''
        z-index: 3
        width: 25px
        left: auto
        right: 0
        box-shadow: 0 0 15px #fff
        background: url('../img/selectbox-arrow.png') no-repeat center #fff