.pager
    text-align: center
    font-size: 0

    &__link
        display: inline-block
        border: 1px solid blue
        margin-right: 10px
        background-color: #fff
        padding: 0 3px
        min-width: 23px
        text-align: center
        border-radius: 3px
        height: 28px
        line-height: @height
        font-size: 18px
        transition: all .3s

        &:last-child
            margin-right: 0

        &:hover
            text-decoration: none

        &:hover,
        &_active
            background-color: blue
            color: #fff

        &_wide
            font-size: 16px
            padding: 0 30px