<section class="grid grid_less">
    <h3 class="grid__title">
        <span>Другие ТЕРАПЕВТЫ</span>
    </h3>
    <article class="grid__item doctor">
        <a class="doctor__link" href="#">
            <img class="doctor__img" src="temp/doctor.jpg" alt=""/>
            <span class="doctor__name">
                <span class="doctor__last-name">Пашковский</span><br>
                Пётр Васильевич
            </span>
            <span class="doctor__position">
                Уролог.<br>
                Врач высшей категории.<br>
                Стаж работы 16 лет.
            </span>
        </a>
    </article>
</section>