<section class="doctor-page">
    <figure class="doctor-page__img">
        <img class="doctor-page__src" src="temp/doctor-large.jpg" alt=""/>
    </figure>

    <div class="doctor-page__skills">
        Терапевт.<br/>
        Врач высшей категории.<br/>
        Стаж работы 25 лет.<br/>
        Специализация: <a href="#">Терапевт</a>
    </div>

    <p>
        Терапевт. Кандидат медицинских наук. Ассистент кафедры гинекологии лечебного факультета Киевского Государственного Медидинского Университета им. Богомольца.
    </p>

    <p>
        Оюразование:<br/>
        В 2002 году окончила лечебный факультет КГМУ им. Богомольца по специальности «Лечебное дело».<br/>
        В 2002-2004 гг. проходила клиническую ординатуру по специальности «акушерство и гинекология» на кафедре акушерства и гинекологии лечебного факультета КГМУ.<br/>
        2004-2007 гг. - обучение в очной аспирантуре на кафедре акушерства и гинекологии лечебного факультета КГМУ.<br/>
        В ноябре 2008 г. защитила диссертацию на соискание ученой степени кандидата медицинских наук по теме «Пеританальные исходы у беременных с гипертонической болезнью и гестозом».
    </p>

    <p>
        <strong>
            Опыт работы
        </strong><br/>
        С 2007 - 2014 гг. ассистент кафедры акушерства и гинекологии лечебного факультета РГМУ с курсом ФУВ на базе родильного дома при ГБ №8 и гинекологического отделения МСЧ N«>33.<br/>
        С 2008 - 2011 - акушер - гинеколог МЦ «Доверие» г. Королев <br/>
        С 2011 года работает в качестве врача акушера - гинеколога в ООО НИМЦ «Медика Менте» г. Королев. <br/>
    </p>

    <p>
        <strong>
            Опыт работы
        </strong><br/>
        С 2007 - 2014 гг. ассистент кафедры акушерства и гинекологии лечебного факультета РГМУ с курсом ФУВ на базе родильного дома при ГБ №8 и гинекологического отделения МСЧ N«>33.<br/>
        С 2008 - 2011 - акушер - гинеколог МЦ «Доверие» г. Королев <br/>
        С 2011 года работает в качестве врача акушера - гинеколога в ООО НИМЦ «Медика Менте» г. Королев. <br/>
    </p>

    <p>
        <strong>
            Опыт работы
        </strong><br/>
        С 2007 - 2014 гг. ассистент кафедры акушерства и гинекологии лечебного факультета РГМУ с курсом ФУВ на базе родильного дома при ГБ №8 и гинекологического отделения МСЧ N«>33.<br/>
        С 2008 - 2011 - акушер - гинеколог МЦ «Доверие» г. Королев <br/>
        С 2011 года работает в качестве врача акушера - гинеколога в ООО НИМЦ «Медика Менте» г. Королев. <br/>
    </p>
</section>