@import 'global/variables'
@import 'mixins/mixins'
@import 'normalize/normalize'
@import 'typography/typography'
@import 'blocks/form'

@import 'layout/breakpoints'
@import 'layout/layout'

@import 'blocks/global'
@import 'blocks/category-nav'
@import 'blocks/banner'
@import 'blocks/appointment'
@import 'blocks/slider'
@import 'blocks/carousel'
@import 'blocks/teaser'
@import 'blocks/infoblock'
@import 'blocks/pager'
@import 'blocks/doctor'
@import 'blocks/grid'
@import 'blocks/filters'
@import 'blocks/comments'
@import 'blocks/doctor-page'
@import 'blocks/offers'
@import 'blocks/articles'
@import 'blocks/large-text'
@import 'blocks/services'
@import 'blocks/recent'
